<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".SlugApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Slug"
        android:usesCleartextTraffic="false"
        tools:targetApi="31">
        <!-- 딥링크 단일 진입점: 외부 App Links + FCM 푸시를 파싱해 목적지로 dispatch -->
        <activity
            android:name=".deeplink.DeepLinkRouterActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="link.estateslug.com" />
            </intent-filter>
        </activity>

        <activity
            android:name=".search.SearchActivity"
            android:exported="true"
            android:label="@string/title_activity_search"
            android:theme="@style/Theme.Slug" />
        <activity
            android:name=".mypage.recent.RecentItemsActivity"
            android:exported="false"
            android:label="@string/title_activity_recent_items"
            android:theme="@style/Theme.Slug" />
        <activity
            android:name=".setting.SettingActivity"
            android:exported="false"
            android:label="@string/title_activity_setting"
            android:theme="@style/Theme.Slug" />
        <activity
            android:name=".detail.DetailActivity"
            android:exported="false"
            android:label="@string/title_activity_detail"
            android:theme="@style/Theme.Slug">

            <!-- &lt;!&ndash; OnlyForTest &ndash;&gt; -->
            <!-- <intent-filter> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
            <!-- &lt;!&ndash; OnlyForTest &ndash;&gt; -->
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Slug">

            <!-- OnlyForTest -->
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- OnlyForTest -->

        </activity>
        <activity
            android:name=".login.LogInActivity"
            android:exported="true"
            android:theme="@style/Theme.Slug">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".permission.PermissionRequestActivity"
            android:exported="true"
            android:theme="@style/Theme.Slug">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.sns.apple.AppleLoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Slug" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao${KAKAO_APP_KEY}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Theme.Slug.OssLicenses" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Theme.Slug.OssLicenses" />
    </application>

</manifest>