<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--  kakao talk share  -->
    <queries>
        <package android:name="com.kakao.talk" />
    </queries>

    <application
        android:name=".SlugApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Slug"

        tools:targetApi="31">
        <!-- 딥링크 단일 진입점: 외부 App Links + FCM 푸시를 파싱해 목적지로 dispatch -->
        <activity
            android:name=".deeplink.DeepLinkRouterActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="link.estateslug.com"
                    android:scheme="https" />
            </intent-filter>

            <!-- 커스텀 스킴: estateSlug://home/ · estateSlug://sales/{id} · estateSlug://search?keyword= -->
            <!-- 스킴 매칭은 대소문자 구분이라 소문자·원표기 둘 다 선언 (브라우저는 소문자로 정규화함) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="estateslug" />
                <data android:scheme="estateSlug" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- "kakao${YOUR_NATIVE_APP_KEY}://kakaolink" 형식의 앱 실행 스킴을 설정하는데 사용 -->
                <data android:host="kakaolink"
                    android:scheme="kakao${KAKAO_APP_KEY}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".search.SearchActivity"
            android:exported="true"
            android:label="@string/title_activity_search"
            android:theme="@style/Theme.Slug" />
        <activity
            android:name=".mypage.recent.RecentItemsActivity"
            android:exported="false"
            android:label="@string/title_activity_recent_items"
            android:theme="@style/Theme.Slug" />
        <activity
            android:name=".setting.SettingActivity"
            android:exported="false"
            android:label="@string/title_activity_setting"
            android:theme="@style/Theme.Slug" />
        <!--    Share Activity    -->
        <activity
            android:name=".detail.DetailActivity"
            android:exported="false"
            android:label="@string/title_activity_detail"
            android:theme="@style/Theme.Slug">
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Slug">

            <!-- OnlyForTest -->
<!--            <intent-filter>-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
            <!-- OnlyForTest -->

        </activity>
        <activity
            android:name=".login.LogInActivity"
            android:exported="true"
            android:theme="@style/Theme.Slug">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".permission.PermissionRequestActivity"
            android:exported="true"
            android:theme="@style/Theme.Slug">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.sns.apple.AppleLoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Slug" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao${KAKAO_APP_KEY}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Theme.Slug.OssLicenses" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Theme.Slug.OssLicenses" />
        <service
            android:name=".firebase.SlugFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>